.h_p_nav{
    margin: 20px 100px;
    color: rgb(2, 27, 250);
    font-weight: bolder;
    font-size: 5vw;
   
    background-color: rgba(251, 255, 0, 0.733);
    }

    .subt{
        color: rgb(255, 0, 0);
        font-weight: bold;
    }